{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/tools.logging {:mvn/version "1.1.0"},
  techascent/tech.resource {:mvn/version "4.6"
                            :excludes [org.clojure/tools.logging]},
  techascent/tech.ml.dataset {:mvn/version "2.06"},
  org.rosuda.REngine/Rserve {:mvn/version "1.8.1"}, 
  hiccup {:mvn/version "1.0.5"}, 
  ;; org.rosuda.REngine/REngine {:mvn/version "2.1.0"}, 
  com.rpl/specter {:mvn/version "1.1.3"}, 
  clj-commons/pomegranate {:mvn/version "1.2.0"}}}
