;; This file is normally not checked in (and gitignored), but we're adding it
;; here to show what it looks like

{;; regular deps.edn stuff will work in here
 :deps {}
 :aliases {}

 ;; but some extra keys are supported to influence launchpad itself
 :launchpad/aliases [:dev] ; additional aliases, will be added to whatever
                             ; aliases you specify on the command line
 :launchpad/main-opts ["--cider-nrepl" "--refactor-nrepl" "-p" "12345" "-b" "0.0.0.0"] ; additional CLI flags, so you can encode your
                                  ; own preferences
 :launchpad/shadow-build-ids []} ; which shadow builds to start, although it may
                                ; be preferable to configure this as part of
                                ; specific aliases in your main deps.edn
 
